<% if flash[:message] %>
  <h2><%= flash[:message] %></h2>
<% end %>
<h1>New User Signup form: </h1>

<form action="/signup" method="post">
  <label for="name">name:     </label>
  <input type="string" name="name" id="name" ></input><br>

  <label for username>username: </label>
  <input type="string" name="username" id="username" ></input><br>

  <label for email>email: </label>
  <input type="string" name="email" id="email" ></input><br>

  <label for password>password: </label>
  <input type="string" name="password" id="password" ></input><br>

  <input type="submit" value="signup">


</form>
